.wrapper {
  display: flex;
  flex-direction: column;
}

.link {
  cursor: pointer;
  border: none;
  border-radius: 8px;
  padding: 12px 24px;
  width: max-content;
  height: 53px;
  background-color: white;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  color: black;
  margin-top: 20px;
  text-decoration: none;
}

.active {
  background-color: #febc6a;
}
