.tag {
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 15px;
  min-width: 100px;
  height: 40px;
  border: 1px solid black;
  margin: 5px;
  padding: 5px;
  transition: 0.5s;
}

.tag:hover {
  background-color: lightgray;
}
