.vitrineContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 100px;
}

.title {
  display: flex;
  color: #000;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
}

.content {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  width: 100%;
  margin-top: 30px;
}

.contentSingle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 250px;
  margin-right: 15px;
  margin-left: 15px;
  margin-top: 30px;
  background-color: lightgray;
}

.showMoreBtn {
  cursor: pointer;
  width: 183px;
  height: 79px;
  background-color: rgba(0, 0, 0, 1);
  color: rgba(255, 255, 255, 1);
  border: none;
  border-radius: 14px;
  font-size: 24px;
  font-weight: 400;
  margin: 0 auto;
  margin-top: 32px;
}
