.mainContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.inputsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 50%;
  margin-top: 100px;
}

.additionalInput {
  margin-top: 20px;
  height: 38px;
  width: 250px;
  padding-left: 8px;
  border: 1px solid lightgray;
  box-shadow: none;
  border-radius: 4px;
  font-size: 17px;
}

.additionalInput::-webkit-outer-spin-button,
.additionalInput::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.additionalInput:focus {
  box-shadow: 0 0 0 1.1px #2684ff;
  outline: 1px solid #2684ff;
  border-color: #2684ff;
}

.generateRecipeBtn {
  margin-top: 20px;
  cursor: pointer;
  width: 200px;
  height: 38px;
  font-size: 20px;
  padding: 2px;
  background-color: black;
  color: white;
  border-radius: 4px;
  transition: 0.5s;
}

.generateRecipeBtn:hover {
  background-color: rgb(9, 175, 9);
}

.loadingContainer {
  margin-top: 200px;
}
