.filter {
  margin-bottom: 15px;
  user-select: none;
}

.filterContainer h2 {
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.arrow {
  cursor: pointer;
  font-size: 25px;
  transition: 0.5s;
}

.arrow:hover {
  color: rgb(98, 213, 98);
}

.checkboxesContainer {
  padding: 10px 0;
  max-height: 300px;
  overflow: scroll;
  border-bottom: 1px solid black;
}

.checkboxesContainer::-webkit-scrollbar {
  display: none;
}
