.headerSearchWrapper {
  font-family: 'Poppins';
  width: 440px;
  height: 100%;
}

.inputWithIcon {
  position: relative;
}

.dropdown {
  user-select: none;
  display: none;
  padding: 23px 32px;
  width: 440px;
  min-height: 100px;
  background-color: white;
  border: 1px solid black;
  border-radius: 9px;
  position: absolute;
}

.dropdownBtn {
  cursor: pointer;
  width: 187px;
  height: 50px;
  margin-top: 24px;
  background-color: white;
  border-radius: 14px;
  border: 1px solid #000;
  font-size: 20px;
  font-weight: 400;
}

.dropdownUi {
  display: flex;
  justify-content: space-between;
}

.dropdownUi button {
  cursor: pointer;
  border: none;
  background-color: white;
  color: #348be8;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
}

.searchHistory {
  align-self: center;
  color: #585656;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}

.showDropdown {
  display: block;
}

.pastSearchContainer {
  display: flex;
  flex-direction: column;
}

.pastSearch {
  display: flex;
  align-items: center;
  width: 100%;
  height: 31px;
  margin-top: 12px;
  font-size: 24px;
  font-weight: 400;
  color: #585656;
}

.pastSearch:hover {
  border-radius: 9px;
  background-color: rgba(212, 82, 82, 0.3);
}

.pastElement {
  cursor: pointer;
  display: flex;
  width: 100%;
  color: black;
}

.icon {
  position: absolute;
  right: 10px;
  top: 5px;
}

.headerSearchWrapper input {
  outline: none;
  font-weight: 400;
  font-size: 14px;
  width: 100%;
  padding: 4px 10px;
  border: 1px solid black;
  border-radius: 9px;
  color: rgba(183, 180, 180, 1);
  background-color: rgba(88, 86, 86, 1);
}
