.catalog {
  user-select: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 64px;

  &__tags {
    margin-left: 10px;
    width: 90%;
    min-height: 50px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    &_amountSelected {
      font-weight: 400;
      font-size: 16px;
      line-height: 120%;
      color: #000;
      width: 190px;
    }

    &_remove {
      color: var(--black);
      transition: 0.5s;
      cursor: pointer;
      display: flex;
      align-items: center;
      border: 1px solid var(--red);
      margin: 5px;
      border-radius: 31px;
      padding: 12px 24px;
      height: 43px;
      transition: 0.5s;
      font-weight: 400;
      font-size: 16px;
      line-height: 120%;
    }

    &_remove:hover {
      background-color: lighten(red, 10%);
    }
  }

  &__filterContainer {
    width: 100%;
    display: flex;

    &_aside {
      margin-top: 52px;
      width: 25%;
      margin-right: 100px;
    }

    &_recipes {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
    }
  }
}
