.header {
  font-family: 'Poppins';
  display: flex;
  height: 101px;
  width: 100%;
  padding: 26.5px 64px;
  align-items: center;
  background-color: white;

  &__logo {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-weight: 400;
    font-size: 24px;
    color: white;

    &_img {
      margin-right: 12px;
    }

    &_text {
      margin-right: 64px;
      margin-top: 10px;
    }
  }
}

.nav {
  margin-left: auto;

  &__list {
    display: flex;
    align-items: center;

    &_link {
      margin-right: 32px;
      font-weight: 400;
      font-size: 24px;
      line-height: 120%;
      color: var(--black);
      text-decoration: none;
    }

    &_basket {
      font-size: 20px;
      color: black;
      margin-left: 32px;
    }

    &_account {
      font-size: 20px;
      color: black;
      margin-left: 32px;
    }
  }
}

@media screen and (max-width: 1550px) {
  .header {
    padding: 26.5px 32px;

    &__logo {
      font-size: 20px;

      &_text {
        margin-right: 32px;
      }
    }
  }

  .nav {
    &__list {
      &_link {
        font-size: 20px;
        margin-right: 24px;
      }

      &_basket {
        font-size: 16px;
        margin-left: 24px;
      }

      &_account {
        font-size: 16px;
        margin-left: 24px;
      }
    }
  }
}
