.progressBar {
  position: relative;
  width: 350px;
  height: 350px;
  border: none;
  box-shadow: 0 0 2px black;
  border-radius: 10px;
}

.progressBar::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../../../public/HCimg.jpg');
  background-size: cover;
  filter: blur(5px);
  z-index: -1;
  border-radius: 10px;
}
